.playerContainer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.isActive {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
