.highlited {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 100px;
  height: calc(100hv-20px-100px);
}

.highlited > Player {
  border: 5px solid red;
}
.nonHighlited {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 200px;
  height: calc(100hv-top);
  z-index: 2;
}
